.page {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.title {
    margin: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.100);
    margin-bottom: 120px;
    overflow: auto;
}

#apple {
    margin-left: 15px;
    margin-right: 15px;
    font-size: x-large;
}

#statistic {
    background-color: #005acf;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.st_p {
    color: white;
}

.st_h1 {
    color: white;
}



#num {
    font-size: xx-large;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #323232;
    flex-wrap: wrap;
}

footer a {
    margin: 70px;
}
